# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.buildlog/
.history
.svn/
migrate_working_dir/

### IDE ###
.idea/
.vscode/
.atom/

### Java/Maven ###
target/
!**/src/main/**/target/
!**/src/test/**/target/

### NPM ###
node_modules/

# Tailwind
src/main/webapp/css/tailwind.css